body {
  background-color: #adb630;
  box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
main > img {
  width: 400px;
}
.card-container {
  display: flex;
  gap: 30px;
}
.card {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}
.card > img:hover {
  width: 400px;
  transition: all 500ms;
}
.card > img {
  width: 350px;
}
.card a {
  width: 100%;
  text-decoration: none;
  color: #fff;
  background: #2a86ff;
  border: 10px;
  padding: 10px;
}
